@import url("./styles/graph.css");
@import url("./styles/selections.css");

:root {
   --light: hsl(206, 10%, 94%);
   --text: hsl(1 1% 13%);
   --text-light: hsl(1 1% 95%);

   --shadow: hsl(1 1% 33%);
   --accent: hsl(344, 70%, 53%);

   --muted-light: hsl(206 10% 88%);
   --muted-text: hsl(1 1% 23%);

   --current: hsl(0, 80%, 70%);
   --correct: hsl(126, 60%, 70%);
   /* --swap: hsl(14, 70%, 53%); */
   --sorted: hsl(215, 80%, 70%);
}

.container-details::-webkit-scrollbar {
   display: none;
   -ms-overflow-style: none; /* Internet Explorer and Edge */
   scrollbar-width: none; /* Firefox */
}

.container {
   z-index: 0;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   height: 450px;
   width: max(200px, 80vw);
}

/* Details */
.container-details {
   flex-shrink: 2;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 350px;
   padding: 6px 8px;
   text-align: justify;
   transition: 500ms ease;
}

.container-details > p {
   flex-grow: 1;
   font-size: 12px;
}

/* Status */

.details-status {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.details-status .status-topic {
   background-color: var(--accent);
   color: var(--text-light);
   padding: 2px 6px;
   font-weight: 600;
   border-radius: 4px;
}

/* Inputs */

.details-input {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
   padding: 8px 2px;
}

.details-input > input {
   border: none;
   font-size: 1.05rem;
   box-shadow: 0 0 4px var(--shadow), 0 0 2px hsl(0, 1%, 22%) inset;
}

.details-input > input::placeholder {
   color: var(--muted-text);
   font-size: 0.8rem;
   font-weight: bolder;
}

.details-input > input,
button[type="button"] {
   padding: 8px 8px;
   width: 100%;
   border-radius: 4px;
   border: none;
}

.details-input > input:focus {
   outline: none;
}

.details-input > button {
   background-color: var(--accent);
   color: var(--light);
   letter-spacing: 10px;
   font-weight: bolder;
   font-size: 1.5rem;
   box-shadow: 0 0 4px var(--shadow), 0 0 2px hsl(0, 1%, 22%) inset;
}

/* Media Query */

/* @media screen and (max-width: 820px) {
   .container-selection,
   .container-details {
      overflow-x: hidden;
      width: 0%;
   }
} */

/* Toggles */

.selected {
   color: var(--light);
   background-color: var(--accent) !important;
}

.current {
   background-color: var(--current) !important;
}

.correct-value {
   background-color: var(--correct) !important;
}

.sorted {
   background-color: var(--sorted) !important;
}
