:root {
   --light: hsl(206, 10%, 92%);
   --text: hsl(1 1% 13%);
   --shadow: hsl(1 1% 11%);
   --accent: hsl(344, 70%, 53%);

   --muted-light: hsl(206 10% 88%);
   --muted-text: hsl(1 1% 23%);
}

.container-graph{
   border: 1px solid black;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   height: 450px;
   width: max(200px, 90vw);
}

.header {
   display: flex;
   width: calc(max(200px, 90vw) - 480px);
   border: 1px solid black;
}

/* Selection */
.container-selection {
   flex: 0 1 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   height: 100%;
}

.container-selection > span {
   background-color: aquamarine;
   border-radius: 8px;
   font-size: 1.2rem;
   width: 150px;
   padding: 4px 8px;
   text-align: center;
}

/* Graph */
.container-graph {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
}

svg {
   flex-grow: 1;
   border: 1px solid black;
}

.graph-input {
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   gap: 4px;
   padding: 4px;
}

.graph-input > input, button[type=button] {
   font-size: 1.1rem;
   padding: 4px 8px;
}

.graph-input > button {

}

/* Details */

.container-details {
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 300px;
   padding: 6px 8px;
   text-align: justify;
}

/* Media Query */

@media screen and (max-width: 1024px) {
   .container-selection,
   .container-details {
      display: none;
   }
}
