:root {
   --light: hsl(206, 10%, 92%);
   --text: hsl(1 1% 13%);
   --shadow: hsl(1 1% 11%);
   --accent: hsl(344, 70%, 53%);

   --muted-light: hsl(206 10% 88%);
   --muted-text: hsl(1 1% 23%);
}

.container-selection,
.container-graph,
.container-details {
   border: 1px solid black;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   height: 450px;
   width: max(200px, 90vw);
}

/* Selection */
.container-selection {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: max(190px, 20%);
}

/* Graph */
.container-graph {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
   height: 100%;
}

svg {
   flex-grow: 1;
   border: 1px solid black;
}

.graph-input {
   border: 1px solid black;
}

/* Details */

.container-details {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 300px;
}

/* Media Query */

@media screen and (max-width: 768px) {
   .container-selection,
   .container-details {
      display: none;
   }
}
