.container-graph {
   background-color: var(--light);
   box-shadow: 0 0 5px var(--shadow), 0 0 6px hsl(0, 1%, 22%) inset;
   flex: 1 2 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   border-radius: 1rem;
   /* padding: 8px; */
   overflow: hidden;
}

.graph {
   flex-grow: 1;
   display: flex;
   gap: 8px;
   width: 100%;
   height: 100%;
   overflow-x: scroll;
   padding: 1rem;
}

.graph::-webkit-scrollbar {
   display: none;
}

/* Graph Points */

.points {
   display: flex;
   flex-direction: column-reverse;
   gap: 8px;
   width: 100%;
   text-align: center;
}

.points.swap {
   transition: transform 300ms ease;
}

#bar {
   background-color: var(--accent);
   border-radius: 4px;
   width: 100%;
}

#text {
   color: var(--muted-text);
   font-size: 1.1rem;
   font-weight: bolder;
}
